NET "SEVSEG[0]" LOC = P41;
NET "SEVSEG[1]" LOC = P40;
NET "SEVSEG[2]" LOC = P35;
NET "SEVSEG[3]" LOC = P34;
NET "SEVSEG[4]" LOC = P32;
NET "SEVSEG[5]" LOC = P29;
NET "SEVSEG[6]" LOC = P27;

NET "A[7]" LOC = P55;
NET "A[6]" LOC = P56;
NET "A[5]" LOC = P57;
NET "A[4]" LOC = P58;
NET "A[3]" LOC = P59;
NET "A[2]" LOC = P61;
NET "A[1]" LOC = P62;
NET "A[0]" LOC = P66;
NET "B[7]" LOC = P112;
NET "B[6]" LOC = P111;
NET "B[5]" LOC = P105;
NET "B[4]" LOC = P104;
NET "B[3]" LOC = P102;
NET "B[2]" LOC = P101;
NET "B[1]" LOC = P100;
NET "B[0]" LOC = P99;
