//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 17 23:41:02 2020
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "P32" LEVEL 1;
COMP "f" LOCATE = SITE "P29" LEVEL 1;
COMP "g" LOCATE = SITE "P27" LEVEL 1;
COMP "Buzzer" LOCATE = SITE "P83" LEVEL 1;
COMP "OSC" LOCATE = SITE "P123" LEVEL 1;
COMP "common0" LOCATE = SITE "P44" LEVEL 1;
COMP "common1" LOCATE = SITE "P43" LEVEL 1;
COMP "common2" LOCATE = SITE "P33" LEVEL 1;
COMP "common3" LOCATE = SITE "P30" LEVEL 1;
COMP "a" LOCATE = SITE "P41" LEVEL 1;
COMP "PB1" LOCATE = SITE "P47" LEVEL 1;
COMP "b" LOCATE = SITE "P40" LEVEL 1;
COMP "CLR" LOCATE = SITE "P55" LEVEL 1;
COMP "c" LOCATE = SITE "P35" LEVEL 1;
COMP "d" LOCATE = SITE "P34" LEVEL 1;
SCHEMATIC END;

