NET "a" LOC = P41;
NET "b" LOC = P40;
NET "c" LOC = P35;
NET "d" LOC = P34;
NET "e" LOC = P32;
NET "f" LOC = P29;
NET "g" LOC = P27;
NET "Buzzer" LOC = P83;

NET "OSC" LOC = P123;
NET "PB1" LOC = P47;
NET "common0" LOC = P44;
NET "common1" LOC = P43;
NET "common2" LOC = P33;
NET "common3" LOC = P30;

# PlanAhead Generated physical constraints 

NET "CLR" LOC = P55;
