NET "SEVSEG[0]" LOC = P41;
NET "SEVSEG[1]" LOC = P40;
NET "SEVSEG[2]" LOC = P35;
NET "SEVSEG[3]" LOC = P34;
NET "SEVSEG[4]" LOC = P32;
NET "SEVSEG[5]" LOC = P29;
NET "SEVSEG[6]" LOC = P27;

NET "A[7]" LOC = P55;
NET "A[6]" LOC = P56;
NET "A[5]" LOC = P57;
NET "A[4]" LOC = P58;
NET "A[3]" LOC = P59;
NET "A[2]" LOC = P61;
NET "A[1]" LOC = P62;
NET "A[0]" LOC = P66;
NET "B[7]" LOC = P112;
NET "B[6]" LOC = P111;
NET "B[5]" LOC = P105;
NET "B[4]" LOC = P104;
NET "B[3]" LOC = P102;
NET "B[2]" LOC = P101;
NET "B[1]" LOC = P100;
NET "B[0]" LOC = P99;

# INPUT A
NET "L1[7]" LOC = P67;
NET "L1[6]" LOC = P74;
NET "L1[5]" LOC = P75;
NET "L1[4]" LOC = P78;
NET "L1[3]" LOC = P79;
NET "L1[2]" LOC = P80;
NET "L1[1]" LOC = P81;
NET "L1[0]" LOC = P82;

#INPUT B
NET "L2[7]" LOC = P84;
NET "L2[6]" LOC = P85;
NET "L2[5]" LOC = P87;
NET "L2[4]" LOC = P88;
NET "L2[3]" LOC = P92;
NET "L2[2]" LOC = P93;
NET "L2[1]" LOC = P94;
NET "L2[0]" LOC = P95;