
# PlanAhead Generated physical constraints 

NET "CLR" LOC = P47;
NET "SW" LOC = P45;
NET "OSC" LOC = P123;

NET "a" LOC = P41;
NET "b" LOC = P40;
NET "c" LOC = P35;
NET "d" LOC = P34;
NET "e" LOC = P32;
NET "f" LOC = P29;
NET "g" LOC = P27;
NET "p" LOC = P26;

NET "comm_0" LOC = P44;
NET "comm_1" LOC = P43;
NET "comm_2" LOC = P33;
NET "comm_3" LOC = P30;
