# INPUT

NET "INP[0]" LOC = P99;
NET "INP[1]" LOC = P100;
NET "INP[2]" LOC = P101;
NET "INP[3]" LOC = P102;

NET "INP[4]" LOC = P104;
NET "INP[5]" LOC = P105;
NET "INP[6]" LOC = P111;
NET "INP[7]" LOC = P112;

NET "INP[8]" LOC = P66;
NET "INP[9]" LOC = P62;
NET "INP[10]" LOC = P61;
NET "INP[11]" LOC = P59;

NET "INP[12]" LOC = P58;
NET "INP[13]" LOC = P57;
NET "INP[14]" LOC = P56;
NET "INP[15]" LOC = P55;

# OUTPUT

NET "SEG[0]" LOC = P41;
NET "SEG[1]" LOC = P40;
NET "SEG[2]" LOC = P35;
NET "SEG[3]" LOC = P34;
NET "SEG[4]" LOC = P32;
NET "SEG[5]" LOC = P29;
NET "SEG[6]" LOC = P27;

NET "COMMON[0]" LOC = P44;
NET "COMMON[1]" LOC = P43;
NET "COMMON[2]" LOC = P33;
NET "COMMON[3]" LOC = P30;